# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
next-app/node_modules
next-app/.pnp
next-app/.pnp.js
next-app/.yarn/*
!next-app/.yarn/releases
!next-app/.yarn/plugins
!next-app/.yarn/sdks

# testing
next-app/coverage

# next.js
next-app/.next/
next-app/out/
next-app/public/sitemap.xml
next-app/.vercel

# production
next-app/build
next-app/*.xml

# rss feed
next-app/public/feed.xml

# search
next-app/public/search.json

# misc
.DS_Store
.idea

# debug
*.log
next-app/npm-debug.log*
next-app/yarn-debug.log*
next-app/yarn-error.log*

# local env files
next-app/.env.local
next-app/.env.development.local
next-app/.env.test.local
next-app/.env.production.local

# Contentlayer
next-app/.contentlayer

